# /etc/udev/rules.d/
# Enable powersaving on wireless interface
ACTION=="add", SUBSYSTEM=="net", KERNEL=="wl*", RUN+="/usr/bin/iw dev $name set power_save on"
